<h2>プロフィール編集</h2>

<%= form_for(@user) do |f| %>
    <%= f.text_field :username, autofocus: true, placeholder:"名前"%>
    <div class = "user-image">
    <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg"%>
    <label class="control-label sr-only" for="inputEmail">ProfileImage</label>
    <%= f.attachment_field :profile_image, placeholder: "プロフィール画像" %>
    </div>
    <%= f.submit "Update User" %>
<% end %>