<div class = "container">
<div class = "body-container">
    <div class = "col-xs-3"> 
    <h2>User info</h2>
    <div class = "plofile-container">
        <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg"%>
        <h3>name  <%= @user.name %></h3>
        <h3>introduction  <%= @user.introduction %></h3>
        <%= link_to "edit", edit_user_path(current_user.id) %>
    </div>

    <section class = "single-book">
        <h2>Books</h2>
        <%= form_for (@book) do |f| %>
        <h3>Title</h3>
        <%= f.text_field :title %>
        <h3>Opinion</h3>
        <%= f.text_area :body %> 

        <%= f.submit 'Create Book', class: "btn btn-primary btn-block"  %>   
        <% end %>
    </section>
    
    </div>

    <div class = "col-xs-9" "user-index" >
        <h2>Users</h2>
        <table class = "table">
         <thead>
            <tr>
                <th>image</th>
                <th>name</th>
            </tr>
         </thead>
         <tbody>
            <% @users.each do |user| %>
                <tr><td><%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg"%></td>
                <td><%= user.name %></td>
                <td><%= link_to "show", user_path(user.id) %></td></tr>
            <% end %>
         </tbody>   
        </table>
    </div>

</div> 
</div>