<% if flash[:notice] %>
    <%= flash[:notice] %>
<% end %>  

<%= render "users/templet" %>


<div class ="col-xs-9">

    <table class = "table">
    <thead>
        <h2>Book detail</h2>
    </thead>        
         <tbody>
            <td>
                <%= attachment_image_tag @user, :profile_image, size: "40x40", fallback: "no_image.jpg"%><br>
                <%= link_to @user.name, user_path(@user.id), class: "link" %>
            </td>   
            <td>
                <%= link_to @bookcreate.title, book_path(@bookcreate.id), class: "link" %>
            </td>
            <td>
                <%= @bookcreate.body %>
            </td>
        <% if @bookcreate.user == current_user %> 
           <td> 
            <%= link_to edit_book_path(@bookcreate.id) do %>
                <button type="button" class="btn btn-success active">Edit</button>
            <% end %>
           </td>
           <td> 
            <%= link_to book_path(@bookcreate.id), method: :delete do %>
                <button type="button" class="btn btn-danger active">Destroy</button>
            <% end %>
           </td>
           <% end %>
         </tbody>   
    </table>


 </div> 
</div>



