<!DOCTYPE html>
<html>
  <head>
    <title>Bookers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  

  <div class = "header">
  <nav class="navbar navbar-default navbar-static-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<span>
				Bookers
			</span>
		</div>
		
		<div class= "navbar-right" >
    <ul class="nav navbar-nav">
     <% if user_signed_in? %>
      <li> <span class = "glyphicon glyphicon-home" aria-hidden="true"><%= link_to ' home', user_path(current_user.id) %></span></li>
      <li><span class="glyphicon glyphicon-user" aria-hidden="true"><%= link_to ' users', users_path %></span></li>
      <li><span class="glyphicon glyphicon-book" aria-hidden="true"><%= link_to ' books', books_path %></span></li>
      <li><span class="glyphicon glyphicon-log-out" aria-hidden="true"><%= link_to " logout", destroy_user_session_path, method: :delete %></a></li>
     <% else %>
      <li> <a class = "glyphicon glyphicon-home" aria-hidden="true" href = "/"></a></li>
      <li> <a class = "glyphicon glyphicon-home" aria-hidden="true" href = "/home/about">about</a></li>
      <li class = "glyphicon glyphicon-home" aria-hidden="true" ><%= link_to 'sign up', new_user_registration_path %></li>
      <li class = "glyphicon glyphicon-home" aria-hidden="true" ><%= link_to 'login', new_user_session_path %></li>
     <% end %>
     </ul>
			
		</div>
	</div>
  </nav>
  </div>

  

    <%= yield %>

    <div class = "footer col-xs-3 col-xs-offset-9">
    <p>CopyRight Infratop.inc</p>
    </div>
  </body>
</html>
